* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header, .footer {
    background-color: rgb(224, 208, 222);
    color: rgb(65, 36, 58);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.linkContainer {
    position: absolute;
    top: 0; /* Stick to the top of the header */
    right: 0; /* Stick to the right side */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px; /* Some padding from edges */
    background-color: transparent; /* or give it a color if you want */
    flex-direction: row;
}
.btn {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    display: inline-flex;
    margin: 5px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5000px;
    
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.footer {
    background-color: rgb(87, 50, 84);
    color: rgb(254, 240, 255);
    display:inline-block;
    width: 100%;
    align-content: center;
    margin: auto;
    padding: 0, 0, 0, 0;
    
}

.footer div {
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
    
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    color:rgb(129, 129, 129)
}
.footerline {
    display: block;
}

.header h1 {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
}

.card {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background: rgb(158, 107, 150);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 10;
} 

.info {
    background: rgb(158, 107, 150);
    color: white;
}

.wrapper {
    width: 100vw;
    margin-inline: auto;
    position: relative;
    height: 100%;
    margin-top: 5rem;
    overflow: hidden;
}

@keyframes scrollleft {
    to {
        left: -200%;
    }
}

.item {
    width: 100%;
    height: 100%;
    background-color: rgb(196, 168, 168);
    position: absolute;
    left: 200%;
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(30s / 4 * (4 - var(--n)) * -1);
    
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}

.titlecard {
    position: absolute;
    right: 50px;
    z-index: 10;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    font-size: 30px;
}

.title {
    font-size: 120px;
}

.subtitle {
    font-size: 70px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.icon {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
    position: absolute;
    left: 20px;
    z-index: 15;
    bottom: 40px;
}

.icon img {
    width: 30vw;
}

.icon img:hover {
    scale: 1.1;
}

[data-link] {
    cursor: pointer;
}
.about {
    padding: 5% 15% 0% 15%;
    height: 100%;
    font-size: 1.3rem;
}

.about-title {
    font-family: "Poppins", serif;
    margin-top: 15px;
    font-size: 3.5vw;
}
.arrow {
    position: absolute;
    align-self:  center;
    margin-top: 7%;
}
.par-title {
    font-family: "Poppins", serif;
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.par {
    font-size: 1.3rem;
    text-indent: 5%;
    padding-bottom: 3vh;
}

.par a {
    text-decoration: underline;
}

.par a:hover {
    color: #bdbdbd;
}

.embed-holder {
    align-content: center;
    text-align: center;
}
.embed-holder iframe {
    margin: auto;
    justify-content: center;
}


/* W3 SCHOOLS SLIDESHOW CODE https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing:border-box}

.screenshots {
    padding-top: 20px;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: 600px;
    position: relative;
    margin: auto;
    background: #3b3b3b;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}